<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="constr" value="server=DESKTOP-2OTRN14\SQLEXPRESS;uid=sa;pwd=111;database=BanSachOnline"/>
  </appSettings>
  <connectionStrings>
    <add name="STRCONN" connectionString="Server=DESKTOP-2OTRN14\SQLEXPRESS;uid=sa;pwd=111;database=BanSachOnline"
      providerName="System.Data.SqlClient" />
    <add name="BanSachOnlineConnectionString" connectionString="Data Source=DESKTOP-2OTRN14\SQLEXPRESS;Initial Catalog=BanSachOnline;User ID=sa;Password=111"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>